.interviews
    display: grid
    grid-gap: 40px
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    padding: 1rem 0 2rem 0

.interview
    img
      width: 100%
      transform: translateZ(0)

    h2, p
      margin-bottom: 0

    h2
      margin-top: 0.5em

    p
      font-size: 0.9rem
      font-weight: 400
      margin-top: 0.6em
      color: lighten($textColor, 50%)
      transform: translateZ(0)